.main-header__mobile-menu-button {
  display: none;
}

// mobile menu
@media (max-width: $max-phone-width) {
  .main-header__mobile-menu-button {
    display: block;
    border: none;
    background-color: none;
    width: 33px;
    height: 19.19px;
    background: url("../../public/img/mobile-menu-button-closed.svg") no-repeat
      center center;
    cursor: pointer;
    position: fixed;
    top: 65px;
    right: 30px;

    &--opened {
      transition: 3s;
      transform: rotate(360deg);
      width: 28.87px;
      height: 22.24px;
      background: url("../../public/img/mobile-menu-button-opened.svg")
        no-repeat center center;
    }

    &--closed-animation {
      transition: 3s;
      transform: rotate(-360deg);
    }
  }

  .main-menu {
    display: none;
    opacity: 0;

    &--opened {
      transition: 3s;
      opacity: 1;
      display: block;
    }
  }
}
